.clr_1 {
  background: linear-gradient(90deg, #CF5454 -0.02%, #732A2A 99.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(90deg, #CF5454 -0.02%, #732A2A 99.98%) 2;
}

.clr_2 {
  background: linear-gradient(90deg, #349578 0.03%, #00710B 90.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(90deg, #349578 0.03%, #00710B 90.56%) 2;
}

.clr_3 {
  background: linear-gradient(90deg, #B588C4 0%, #5A1757 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(90deg, #B588C4 0%, #5A1757 100%) 2;
}
