.menu {
  position: sticky;
  top: 0;
  background: rgba(247, 247, 247, 0.70);
  backdrop-filter: blur(5px);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-text);
  border-bottom: none;
}

.link:hover, .link:visited {
  color: var(--clr-text);
}

